.header {
    /* background: rgb(0, 0, 255);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 255, 0.908000700280112) 0%,
        rgba(93, 93, 203, 1) 20%,
        rgba(0, 212, 255, 1) 100%
    ); */
    
    background-image: url("../img/homeBackground.svg");
    -moz-background-size: 100% 100%;           
	-o-background-size: 100% 100%;           
	-webkit-background-size: 100% 100%;          
	background-size: cover;  
    
}
